

.Breath:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.24) 0%, rgba(0, 0, 0, 0.12) 100%);
}

.Breath__background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.Breath__video video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    object-fit: cover;
    object-position: center bottom;
}

.Breath__block {
    text-align: center;
    padding-top: 7.75em;
    position: relative;
    z-index: 20;
}

.Breath__title {
    font-weight: 500;
    font-size: 3.75em;
    line-height: 1.06em;
    margin-bottom: 0.4em;
}

.Breath__text {
    font-weight: 500;
    font-size: 1em;
    line-height: 1.25em;
    opacity: .89;
}

.Breath__help {
    text-align: left;
    padding: 2em 2.625em;
    width: 30em;
    margin: 2.625em auto 0 auto;
    backdrop-filter: blur(14px);
    background: linear-gradient(97.84deg, rgba(184, 173, 173, 0.048) 0%, rgba(184, 173, 173, 0.06) 52.08%, rgba(255, 255, 255, 0) 100%, rgba(184, 173, 173, 0.048) 100%);
}

.Breath__help ol {

}

.Breath__help ol li {
    margin-bottom: 1em;
}

.Breath__effect {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 15;
}

.Breath__effect .Breath__effect-image {
    width: 46.75em;
    display: block;
    margin: 0 auto;
}

.Breath__effect-icon {
    position: absolute;
    width: 5.5em;
    height: 5.5em;
    left: 50%;
    margin-left: -2.75em;
    bottom: 1.25em;
}

.Breath__effect--state-0 {

}

.Breath__effect--state-0 .Breath__effect-image,
.Breath__effect--state-1 .Breath__effect-image,
.Breath__effect--state-5 .Breath__effect-image {
    animation: state-1 1s infinite ease-in-out alternate;
}

.Breath__effect--state-2 .Breath__effect-image {
    animation: state-2 4s ease-in-out forwards;
}

.Breath__effect--state-3 .Breath__effect-image {
    width: 96.375em;
}

.Breath__effect--state-4 .Breath__effect-image {
    animation: state-4 8s ease-in-out forwards;
}

@keyframes state-1 {
    from {
        width: 46.75em;
    }
    to {
        width: 51.125em;
    }
}

@keyframes state-2 {
    from {
        width: 46.75em;
    }
    to {
        width: 96.375em;
    }
}
@keyframes state-4 {
    from {
        width: 96.375em;
    }
    to {
        width: 46.75em;
    }
}